<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileShare - Easy File Sharing</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <img src="../public/img/logo1.png" alt="logo" class = "logo">
    <section class="download">
        <img src="../public/img/download-sd.svg" alt="download background icon" class="download__icon">
        <% if(locals.error) { %>
        <h4><%= locals.error %> 😔</h4>
        <% } else { %>
        <h2>Your file is ready to download</h2>
        <p>Link expires in 24 hours</p>
        <div class="download__meta">
            <h4><%= fileName %></h4>
            <small><%= parseInt(fileSize/1000) %> KB</small>
        </div>
        <div class="send-btn-container">
            <a href="<%= downloadLink %>">Download File</a>
        </div>
        <% } %>
    </section>
    
</body>
</html>